<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container">
      <a class="navbar-brand" routerLink="/">RallyPics</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/subirFoto/{{concursante.id}}">Subir una foto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/concCuenta/{{concursante.id}}">Gestionar mi cuenta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/fotosConc/{{concursante.id}}">Mis fotos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
